<html>

<head>

<style>
body {

	background-color: black;
}
</style>

<body>
<h1>
<center><font size="72" color= "red">Welcome to the Github hub for our class!</font></center>
</h1>>

<center><p><font size= "48" color= "red"> To view a classmates github, please type their first name and hit enter.</font>

<center><img src="images/github.gif" alt="github cat" width="500" height="377"></center>
<br>

<form method="post" action="name_choice">
    <input type="text"  name="first_name">
    <br>
    <br>
    <input type="submit">
</form></p></center></body>
	

<html>
