<html>

<head>

<style>
body {

	background-color: black;
}
</style>

<body>
<h1>
<center><font size="72" color= "red">The name you are looking for is:</font></center>
</h1>>
<br>
<br>
<center><font size="24" color= "blue">
<% first = (first_name) %>
<% last = combinenames(first_name) %>
<%= first.capitalize %>
<br>
<%= last.capitalize %>
<br>
<br>
<%= github %>
</center></font>


<center><img src="" alt="" width="500" height="377"></center>
<br>


	

<html>